# McTools configuration
# Path resolution ($LOCALAPPDATA, $APPDATA, $TEMP, $MCDIR, $CACHEDIR,
#   $EXECDIR, $USERSDIR, $PREMIUMCACHE, $SERVERPACKCACHE,
#   $REALMSPREMIUMCACHE, $OUTFOLDER)
#
# On Linux, the default Minecraft Bedrock path is:
#   ~/.AppData/Roaming/Minecraft Bedrock/ (variable $APPDATA)
# Override here if your installation is elsewhere:

# MinecraftFolder: $APPDATA/Minecraft Bedrock
# CacheFolder: $TEMP/minecraftpe

# Keys
# KeysDb: keys.db

# Encryption settings
CrackThePacks: yes
ZipThePacks: no
MultiThread: yes
DecryptExistingWorlds: yes
